body{
	background-color: black;
}
.content{
	background-color: #FFECC8;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}

div {
	border-radius: 15px;
	padding-left: 5px;
}

li{
	display: inline;
	list-style-type: none;
}
form{
	text-align: center;
}

.submit{
	margin-right: 400px;
	margin-left: 400px;
}
h1{
	text-align: center;
}

h2 {
	padding-left: 5px;
}

h4{
	text-align: center;
}

p {
	padding-left: 5px;
	padding-bottom: 5px;
}

.information{
	background-color: #FFECC8;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}