/*universal elements*/
body{
  background-color: #56A0D3;
  font-family: "Arial Black", Gadget, sans-serif;
}

div[divIsVisible="false"] {
  display:none;
}

div {
  
}

.content{
  background-color: #FFF1D8;

  width: 850px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 15px;
  padding-left: 5px;
}

li{
  display: inline;
  list-style-type: none;
}

html {
  overflow-y: scroll;
}

h1{
  text-align: center;
}

h2 {
  padding-left: 5px;
}

h4{
  text-align: center;
}

p {
  padding-left: 5px;
  padding-bottom: 5px;
}

.information{
  background-color: #FFF1D8;
  width: 850px;
  margin-right: auto;
  margin-left: auto;
}

/*headerDiv elements*/
#headerDiv {
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

#headerDivTitle {
  cursor:pointer;
}


/*homeDiv elements*/
form{
  text-align: center;
}

#homeSubmit{
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 10px;
}





/*playerDiv elements*/
#audio0 {
  width: 50vw;
}

.volumeSlider {

}

input {
  padding-top: 5px;
}
.choices li{
  display: inline;
  list-style-type: none;
}
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 0px;
  border-radius: 14px;
  background: #BBCCFF;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}