/*
Code Written by Alex Britt, Jon Medenblik, and Rahul Ramkumar
*/

/*rules for general elements*/

body{
  background-image: url(./assets/images/background.png);
  /*background-color: #56A0D3;*/
  font-family: "Arial", Gadget, sans-serif;
  background-attachment:fixed;
}

#quizVoiceComponents .muteButtons{
  padding-left: 6px;
  padding-right: 5px;
}

#quizDroneComponentsTable .muteButtons{
  padding-left: 6px;
  padding-right: 5px;  
}


[isVisible="false"] {
  display:none;
}
.muteButtons{
  position: relative;
  top: 10px;
}


button{
  border: 2px solid;
  border-radius: 7px;
}

#mainplaypause{
  position: relative;
  top: 18px;
}
#mainSandboxplaypause{
  position: relative;
  top: 18px;
}
.content{
  background-color: #FFFCF7;

  width: 850px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 15px;

  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 30px;
}

table {
  width: 100%;
}

#homeTable td{
  width:400px;
  text-align: center;
}
#homeTable th{
  font-size: 150%;
}

li{
  list-style-type: none;
  text-align: center;
}

html {
  overflow-y: scroll;
}

h1{
  text-align: center;
}

h2 {
  padding-left: 5px;
}

p {
  padding-left: 5px;
  padding-bottom: 5px;
}
audio{
  padding-bottom: 30px;
}

.information{
  background-color: #FFFCF7;
  width: 850px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  padding-left: 5px;
}
a{
  color:inherit;
}
.levelInfo li{
  text-align: left;
}
/*rules for headerDiv elements*/

#aboutProgram{
  background-color: #FFFCF7;

  width: 450px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 15px;

  text-align: center;
  padding-bottom: 7px;
}

#footerLinksDiv {
  background-color: #FFFCF7;

  width: 400px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 15px;

  padding-left: 18px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 6px;
}

#ReturnHome{
  margin-left: auto;
  margin-right: auto;
}

#headerDivTitle {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}

#pageSubtitle {
  font-family: 'Cinzel Decorative';
  font-size: 20px;
  text-shadow: 2px 1px #000000;
  color: #ffffff;
  text-align: center;
}

/*rules for browserWarningDiv elements*/
#browserWarningDiv {
  background-color: #E42A2A;

  font-size: 18px;
  font-weight: bold;
  color: #ffffff;

  width: 850px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 15px;

  padding: 5px;
  padding-left: 8px;
}




/*rules for homeDiv elements*/
.homeLinkButton {
  width: 130px;
  text-decoration:none;
}

#aboutPageButton {
  width:130px;
}

#teamPageButton {
  width:130px;
}


form{
  text-align: center;
}

#homeSubmit{
  margin-bottom: 10px;
}
#homeSandboxSubmit{
  margin-bottom: 10px;
}

.songs li{
text-align: left;
padding-left:200px;
padding-top: 5px;
}

.customHeadBig {
  font-size: 28px;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  padding-top: 8px;
}
.customHead {
  font-size: 22px;
  font-weight: bold;
  vertical-align: top;
}
.customSubhead {
  font-size: 18px;
  font-weight: normal;
}

#volumeControlsTitle{
  font-weight: bold;
}
#answersTitle{
  font-weight: bold;
}

/*rules for quizDiv elements*/



#audio0 {
  width: 60%;
}

.choices {
  float:right;
  padding-right:30%;
}

.quizAnswerRadio {
  padding:7px;
}

.quizAnswerMark {
  width: 16px;
  height: 16px;
  display: inline;
}

input {
  padding-top: 5px;
}
.choices li{
  display: inline;
  list-style-type: none;
}

#quizDroneComponentsTable td:nth-child(1) {
  width: 45%;
}
#quizDroneComponentsTable td:nth-child(2) {
  width: 55%;
}
#quizDroneTh {
  text-align: left;
}

#quizDroneComponentsTable {
  padding-bottom: 25px;
}

#correctIncorrectTh {
  padding-left: 69px;
}

#correctIncorrect {
  width: 100px;
  padding: 9px;
  text-align: center;
  border: 1px solid black;
  border-spacing: 6px;
  border-radius: 5px;
}

/*keeps it from resizing when changing between "Show Hints" and "Hide Hints"*/
#toggleHints {
  width: 98px;
}


/*rules for sandboxDiv elements*/




#sandboxTable td {
  text-align: center;
}
#sandboxDroneComponentsTable td {
  text-align: center;
}

.invisibleThings {
  visibility: hidden;
}
.sandboxReturnHome{
margin-left: auto;
margin-right: auto;

}

#sandboxAudio0 {
  width: 60%;
}

#sandboxDroneComponentsTable{
  padding-bottom: 25px;
}
.sandboxInstrumentTitle{
  width:175px;
}

/*
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 0px;
  border-radius: 14px;
  background: #BBCCFF;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; // no focus outline 
}
*/
/*
input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; // don't drawn vertical reference line 
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); 
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); 
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); 
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); 
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); 
}
*/



/*New Range Stuff*/

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  /*width: 100%; /* Specific width is required for Firefox. */
  padding-left: 5px;
  padding-right: 5px;
}
#mainvolumerange{
  width: 60px;
}
#mainvolumerange::-moz-range-thumb{
  height: 20px;
  width: 12px;
}
#mainvolumerange::-webkit-slider-thumb {
  height: 20px;
  width: 12px;
}
#mainvolumerange::-ms-thumb {
  height: 20px;
  width: 12px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}

input[type=range]::-moz-range-thumb {/*FF*/
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-thumb { /*IE*/
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #56A0D3;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #56A0D3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

//TESTING STUFF

.m-btn.blue{
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
}
/*About Tags */
#aboutInfo{
  padding-top: 10px;
  padding-bottom: 10px;
}
#aboutInfo h2{
  text-align: center;
}
#aboutInfo li{
  font-weight: normal;
}


/* other pages */
#homeButtonContainer {
  text-align: center;
}
